<h3>Assignment 3 </h3>
<button type="button">Display Details</button><br><br><br><br><br>
<button
    type="button">Display Details</button><br><br>
<p>Your Name=Yogesh Kale</p>
<li>1</li><br><br><button type="button">Display Details</button><br>
<ol>
    <li></li>
    <li></li>
    <ol><button type="button">Display Details</button>
        <p>Your Name=Yogesh Kale</p>
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>